<div class="landing-container">

    <div class="titleBox">
        <h1>SingiSpace</h1>
        <img src="../../assets/images/singi_logo.png" alt="singi_logo" class="landing-logo">
    </div>
    <button class="button enter-button">Enter</button>
    <div class="showBox">
        <div class="login-box">
            <h2>Sign In</h2>
            <div class="input-box">
                <div class="user-input-box">
                    <img class="input-icon" src="../../assets/images/input-user.png" alt="input-user">
                    <input class="input-field" type="text" placeholder="Username">
                </div>
                <div class="user-input-box">
                    <img class="input-icon" src="../../assets/images/input-pass.png" alt="input-pass">
                    <input class="input-field" type="password" placeholder="Password">
                </div>
            </div>
            <button class="sign-in-btn" (click)="submitCredentials()">
                Submit
            </button>
            <div class="remember-box">
                <label><input type="radio" value="remember">Remember Me<span></span></label>
                <label><a href="">Forgot password?</a></label>
            </div>
            <p class="divider">Or</p>
            <p class="social-media-text">Login in with your social media account</p>
            <div class="social-button-box">
                <button class="social-button-fb"><img src="../../assets/images/facebook.png" class="social-media-icon" alt="facebook">Facebook</button>
                <button class="social-button-tw"><img src="../../assets/images/twitter.png" class="social-media-icon" alt="twitter">Twitter</button>
                <button class="social-button-go"><img src="../../assets/images/google.png" class="social-media-icon" alt="google">Google</button>
            </div>
            <div class="register-box">
                <label>Haven't registered before?</label>
                <label><a href="">Register Here</a></label>
            </div>
        </div>
    </div>
</div>