<div class="pages-tab">
    <h3>Pages</h3>
    <div class="pages-container">
        <ul class="pages-list">
            <li class="page-item" *ngFor="let page of pages">
                <div class="page-image-box">
                    <img class="page-image" src="../../assets/images/connection.png" alt="">
                </div>
                <a class ="pages-link" href="">
                    <h5>{{page.name}}</h5>
                    <div class="mb-1 text-muted">{{page.author.name}} {{page.author.surname}}</div>
                </a>
            </li>
        </ul>
    </div>
</div>