h3 {
  height: 20%;
}

.pages-tab {
  width: 100%;
  height: 100%;
}

.pages-container {
  width: 100%;
  margin: 0;
  height: 80%;
  overflow: hidden;
}

.pages-list {
  height: 100%;
  margin-bottom: 0;
  overflow: auto;
}

.page-item {
  width: 90%;
  height: 4vw;
  margin-left: 0.5rem;
  margin-bottom: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 10px;
}

.page-image-box {
  top: 0;
  left: 0;
  text-align: center;
  width: 25%;
  height: 100%;
}

.page-image {
  width: 100%;
}

.pages-link {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #0f0a0a;
  text-decoration: none;
  margin-left: 0.5rem;
}

.page-item:hover {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
