<div class="main-window">

  <div class="subscribed-bar">
    <div class="tab-container">
      <themes-tab></themes-tab>
    </div>
    <div class="tab-container">
      <pages-tab></pages-tab>
    </div>
  </div>
  <div class="main-feed">
    <h1 style="color:whitesmoke">Content</h1>
    <h1 style="color:whitesmoke">Content</h1>
    <h1 style="color:whitesmoke">Content</h1>
    <h1 style="color:whitesmoke">Content</h1>
    <h1 style="color:whitesmoke">Content</h1>
    <h1 style="color:whitesmoke">Content</h1>
    <h1 style="color:whitesmoke">Content</h1>
    <h1 style="color:whitesmoke">Content</h1>
    <h1 style="color:whitesmoke">Content</h1>
    <h1 style="color:whitesmoke">Content</h1>
    <h1 style="color:whitesmoke">Content</h1>
    <h1 style="color:whitesmoke">Content</h1>
    <h1 style="color:whitesmoke">Content</h1>
    <h1 style="color:whitesmoke">Content</h1>
    <h1 style="color:whitesmoke">Content</h1>
    <h1 style="color:whitesmoke">Content</h1>
  </div>
  <div class="chat-bar">
    <div class="tab-container">
      <friends-tab></friends-tab>
    </div>
    <div class="tab-container">
      <groups-tab></groups-tab>
    </div>
  </div>
</div>
