<div class="container signin-container">
  <div class="card card-signin">
    <div class="card-body">
      <h5 class="card-title text-center">{{getUsername()}}</h5>
      <h4 class="card-subtitle text-left"><span style="font-weight: bold">Name:</span> {{user.name}}</h4>
      <h4 class="card-subtitle text-left"><span style="font-weight: bold">Surname:</span> {{user.surname}}</h4>
      <h4 class="card-subtitle text-left"><span style="font-weight: bold">Email:</span> {{user.email}}</h4>
    </div>
  </div>
</div>
