<div class="card detail-card ml-auto mr-auto" *ngIf="theme | async as theme">
  <div class="card-body">
    <h5 class="card-title text-center detail-card-title">{{theme.name}}</h5>
    <div class="detail-card-body">
      <div class="detail-card-info">
        <div class="detail-card-owner">
          <img src="../assets/images/me.jpg" class="profile-photo img-responsive">
          <h2 class="detail-card-subtitle">Anthony Markides</h2>
        </div>
        <div class="detail-card-about">
          <h2 class="detail-card-subtitle">About</h2>
          <p class="detail-card-text">Some thing about this and that, although I think that we can truly grasp the
            vision of the future if we get that there </p>
        </div>
        <div class="detail-card-about">
          <h2 class="detail-card-subtitle">Members</h2>
          <div class="detail-card-members">
            <img src="../assets/images/me.jpg" class="profile-photo">
            <img src="../assets/images/me.jpg" class="profile-photo">
            <img src="../assets/images/me.jpg" class="profile-photo">
            <img src="../assets/images/me.jpg" class="profile-photo">
            <img src="../assets/images/me.jpg" class="profile-photo">
            <img src="../assets/images/me.jpg" class="profile-photo">
          </div>
        </div>
      </div>
      <div class="detail-feed">
        <div class="post">
          <h2 class="post-title">
            Some Title
          </h2>
          <div class="module line-clamp">
            <p class="post-text-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem
              Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
              Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
          <div class="detail-card-body-buttons">
            <button class="social-button"><img src="./assets/images/icons/eye.svg" class="img-responsive"></button>
          </div>
        </div>
        <div class="post">
          <h2 class="post-title">
            Some Title
          </h2>
          <div class="module line-clamp">
            <p class="post-text-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem
              Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
              Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
          <div class="detail-card-body-buttons">
            <button class="social-button"><img src="./assets/images/icons/like.svg" class="img-responsive"></button>
            <button class="social-button"><img src="./assets/images/icons/share.svg" class="img-responsive"></button>
            <button class="social-button"><img src="./assets/images/icons/eye.svg" class="img-responsive"></button>
          </div>
        </div>
        <div class="post">
          <h2 class="post-title">
            Some Title
          </h2>
          <div class="module line-clamp">
            <p class="post-text-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem
              Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
              Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
          <div class="detail-card-body-buttons">
            <button class="social-button"><img src="./assets/images/icons/like.svg" class="img-responsive"></button>
            <button class="social-button"><img src="./assets/images/icons/share.svg" class="img-responsive"></button>
            <button class="social-button"><img src="./assets/images/icons/eye.svg" class="img-responsive"></button>
          </div>
        </div>
        <div class="post">
          <h2 class="post-title">
            Some Title
          </h2>
          <div class="module line-clamp">
            <p class="post-text-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem
              Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
              Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
          <div class="detail-card-body-buttons">
            <button class="social-button"><img src="./assets/images/icons/like.svg" class="img-responsive"></button>
            <button class="social-button"><img src="./assets/images/icons/share.svg" class="img-responsive"></button>
            <button class="social-button"><img src="./assets/images/icons/eye.svg" class="img-responsive"></button>
          </div>
        </div>
        <div class="post">
          <h2 class="post-title">
            Some Title
          </h2>
          <div class="module line-clamp">
            <p class="post-text-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem
              Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
              Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
          <div class="detail-card-body-buttons">
            <button class="social-button"><img src="./assets/images/icons/like.svg" class="img-responsive"></button>
            <button class="social-button"><img src="./assets/images/icons/share.svg" class="img-responsive"></button>
            <button class="social-button"><img src="./assets/images/icons/eye.svg" class="img-responsive"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
