.dashboard{
  width: 85%;
  margin-top: 1rem;
  height: 625px;
}

.dashboard-main{
  height: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dashboard-column {
  border-radius: 1rem;
  padding: 0.6em;
  border: 2px #F5F5F5;
  background-color: $primary;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.dashboard-column-titles{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .dashboard-column-title-left{
    font-family: "Raleway", "cursive";
    color: $text-color;
    font-size: 1.6rem;
    width: 35%;
  }
  .dashboard-column-title-right{
    font-family: "Raleway", "cursive";
    font-size: 1.6rem;
    color: $text-color;
    width: 60%;
  }
}

.dashboard-column-left {
  width: 35%;
}

.dashboard-column-right {
  width: 60%;
}

.dashboard-button{
  cursor: pointer;
  width: 180px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 180px;
  background-color: $bars;
  .dashboard-button-text{
    font-family: "Raleway", "cursive";
    color: $text-color;
    font-size: 1.3rem;
  }
  .dashboard-button-image{
    width: 70px;
    height: 70px;
  }
  &:hover{
    box-shadow: 0px 0px 5px #F5F5F5;
  }
}

.dashboard-analytics{
  padding: 0.4em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1rem;
  width: 35%;
  height: 180px;
  background-color: $bars;
  .dashboard-analytics-text{
    font-family: "Raleway", "cursive";
    color: $text-color;
    font-size: 1.3rem;
  }
}

.analytics-bar{
  width: 90%;
  height: 250px;
}
