@import "./breakpoints.scss";

header {
  display: block;
  height: 10vh;
  @include for-desktop-only{
    height: 15vh;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 90vh;
  @include for-desktop-only{
    height: 85vh;
  }
}
