@import './breakpoints.scss';

.brand-box {
  color: $text-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
}

.navbar{
  background-color: $bars;
  overflow: hidden;
}


.navbar-toggler{
  width: 15%;
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245, 245, 245)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .navbar-toggler-icon:hover{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245, 245, 245, 0.8)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

.navbar-collapse{
}

.nav-link {
  font-family: "Raleway", sans-serif;
  color: $text-color;
}

.navbar-brand {
  font-family: "Patua One", cursive;
  margin: 0px 0px 0px 2px;
  font-size: 2rem;
}

.nav-item {
  width: 15%;
}

.navbar-expand-md .navbar-nav {
	justify-content: flex-end;
}

.small-logo {
    max-width: 50px;
    max-height: 50px;
}

.nav-link {
  text-align: center;
}


// @media screen and (max-width: )
