<div class="groups-tab">
    <h3>Groups</h3>
    <div class="groups-container">
        <ul class="groups-list">
            <li class="group-item" *ngFor="let group of groups">
                <div class="group-image-box">
                    <img class="group-image" src="../../assets/images/connection.png" alt="">
                </div>
                <a class ="group-link" href="">
                    <h5>{{group.name}}</h5>
                    <div class="mb-1 text-muted">{{group.author.name}} {{group.author.surname}}</div>
                </a>
            </li>
        </ul>
    </div>
</div>