<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#" ng-click="lv.dobaviArtikle()">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" ng-click="lv.noviPrikazi()">Chathub</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" ng-click="lv.noviPrikazi()">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" ng-click="lv.noviPrikazi()">My Wall</a>
            </li>

        </ul>
    </div>
</nav>