<header>
  <nav class="navbar navbar-expand-md justify-content-around fixed-top">
    <div class="brand-box">
      <img src="../../../assets/images/singi_logo.png" alt="" class="small-logo">
      <a class="navbar-brand">SingiSpace</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn()">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Create
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="nav-link" routerLink="/create-page">Page</a>
            <a class="nav-link" routerLink="/create-theme">Theme</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{getUsername()}}</a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="nav-link" href="/user-profile">My Profile</a>
            <a class="nav-link" href="#">My Pages</a>
            <a class="nav-link" href="#">My Themes</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link" href="#" (click)="onLogout()">Logout</a>
          </div>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto" *ngIf="!isLoggedIn()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main role='main'>
  <router-outlet></router-outlet>
</main>


<!-- <footer>

</footer> -->
