@import './assets/styles/fonts.scss';
@import './assets/styles/themes.scss';
@import './assets/styles/main-layout.scss';
@import './assets/styles/navbar.scss';
@import './assets/styles/registration.scss';
@import './assets/styles/main-feed.scss';
@import './assets/styles/tabs.scss';
@import './assets/styles/chat-bar.scss';
@import './assets/styles/home-layout.scss';
@import './assets/styles/cards.scss';
@import './assets/styles/social-group';
@import './assets/styles/post';

* {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

body{
  overflow:hidden;
  background-color: $primary;
  height: 100%;
}

html,
body {
  min-height: 100%;
}


html {
  scroll-behavior: smooth;
}
