@import './assets/styles/fonts.scss';
@import './assets/styles/themes.scss';
@import './assets/styles/main-layout.scss';
@import './assets/styles/navbar.scss';
@import './assets/styles/sign-in.scss';
@import './assets/styles/registration.scss';
@import './assets/styles/main-feed.scss';
@import './assets/styles/subscribed-bar.scss';
@import './assets/styles/chat-bar.scss';

* {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

body{
  overflow:hidden;
  background-color: $primary;
  height: 100vh;
}