<h3 class="tab-title">Pages</h3>
<div class="tab-feed">
  <ul class="tab-list">
    <li class="tab-item">
      <img class="tab-image img-responsive" src="https://via.placeholder.com/150" alt="">
      <h5 class="name-label">A New Page</h5>
    </li>
    <li class="tab-item">
      <img class="tab-image img-responsive" src="https://via.placeholder.com/150" alt="">
      <h5 class="name-label">A New Page</h5>
    </li>
    <li class="tab-item">
      <img class="tab-image img-responsive" src="https://via.placeholder.com/150" alt="">
      <h5 class="name-label">A New Page</h5>
    </li>
    <li class="tab-item">
      <img class="tab-image img-responsive" src="https://via.placeholder.com/150" alt="">
      <h5 class="name-label">A New Page</h5>
    </li>
    <li class="tab-item">
      <img class="tab-image img-responsive" src="https://via.placeholder.com/150" alt="">
      <h5 class="name-label">A New Page</h5>
    </li>
    <li class="tab-item">
      <img class="tab-image img-responsive" src="https://via.placeholder.com/150" alt="">
      <h5 class="name-label">A New Page</h5>
    </li>
  </ul>
</div>
